@import "tailwindcss";

*{
    /* ys scroll  */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

::-webkit-scrollbar,
::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}


